<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-rx-ble" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>BleCentral</name>

    <asset src="www/central.js" target="js/central.js"/>

    <js-module name="central" src="www/central.js">
        <clobbers target="cordova.plugins.ble.Central"/>
    </js-module>

    <platform name="ios">

        <config-file parent="/widget" target="config.xml">
            <feature name="CentralPlugin">
                <param name="ios-package" value="CentralPlugin"/>
            </feature>
        </config-file>

        <config-file parent="UIBackgroundModes" target="*-Info.plist">
            <array>
                <string>bluetooth-central</string>
            </array>
        </config-file>

        <!--
        <framework src="src/ios/frameworks/RxBlocking.framework" custom="true" embed="true"/>
        <framework src="src/ios/frameworks/RxSwift.framework" custom="true" embed="true"/>
        <framework src="src/ios/frameworks/RxCocoa.framework" custom="true" embed="true"/>
        <framework src="src/ios/frameworks/RxBluetoothKit.framework" custom="true" embed="true"/>
-->
        <source-file src="src/ios/CentralPlugin.swift" target-dir="CentralPlugin"/>
        <source-file src="src/ios/BleError.swift" target-dir="CentralPlugin"/>
        <source-file src="src/ios/BleUtils.swift" target-dir="CentralPlugin"/>
        <source-file src="src/ios/BleExtensions.swift" target-dir="CentralPlugin"/>

    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CentralPlugin">
                <param name="android-package" value="com.ksachdeva.opensource.ble.central.CentralPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>

        <source-file src="src/android/CentralPlugin.java" target-dir="src/com/ksachdeva/opensource/ble/central"/>
        <source-file src="src/android/converters/RxBleScanResultConverter.java" target-dir="src/com/ksachdeva/opensource/ble/central/converters"/>
        <source-file src="src/android/converters/RxBleDeviceConverter.java" target-dir="src/com/ksachdeva/opensource/ble/central/converters"/>
        <source-file src="src/android/converters/BluetoothGattCharacteristicConverter.java" target-dir="src/com/ksachdeva/opensource/ble/central/converters"/>
        <source-file src="src/android/converters/BluetoothGattServiceConverter.java" target-dir="src/com/ksachdeva/opensource/ble/central/converters"/>
        <source-file src="src/android/errors/BleError.java" target-dir="src/com/ksachdeva/opensource/ble/central/errors"/>
        <source-file src="src/android/errors/Error.java" target-dir="src/com/ksachdeva/opensource/ble/central/errors"/>
        <source-file src="src/android/errors/ErrorConverter.java" target-dir="src/com/ksachdeva/opensource/ble/central/errors"/>
        <source-file src="src/android/utils/DisposableMap.java" target-dir="src/com/ksachdeva/opensource/ble/central/utils"/>
        <source-file src="src/android/utils/UUIDConverter.java" target-dir="src/com/ksachdeva/opensource/ble/central/utils"/>
        <framework src="com.polidea.rxandroidble:rxandroidble:1.0.2"/>

    </platform>

    <dependency id="cordova-plugin-add-swift-support" url="https://github.com/akofman/cordova-plugin-add-swift-support"/>

</plugin>
